<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIPEDA</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="js/app.js"></script>
  <style>
    #container-content-public {
      display: flex;
      max-width: 100%;
      align-items: center;
      flex-direction: column;

    }

    #content-public {
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 2rem;
    }

    #deskripsi-lpj-view {
      overflow-wrap: break-word;
    }
  </style>
</head>

<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="text-lg font-bold">Nama Kegiatan</h3>
    <p class="py-4" id="nama-lpj-view">Monev 1</p>
    <h3 class="text-lg font-bold">Penanggungjawab</h3>
    <p class="py-4" id="penanggungjawab-lpj-view">Sausan Nabilah</p>
    <h3 class="text-lg font-bold">Departemen</h3>
    <p class="py-4" id="departemen-lpj-view">Departemen Administrasi (ADM)</p>
    <h3 class="text-lg font-bold">Tanggal Pelaksanaan</h3>
    <p class="py-4" id="tanggal-lpj-view">01/01/2022</p>
    <h3 class="text-lg font-bold">Deskripsi Kegiatan</h3>
    <p class="py-4" id="deskripsi-lpj-view">Monev adalah suatu kegiatan yang dilakukan untuk mengevaluasi kinerja
      himpunan</p>
    <div>
      <a class="btn btn-primary" id="url_photo-view" target="_blank" href="">Lihat Foto</a>
      <a class="btn btn-primary" id="file-lpj-view" target="_blank" href="">Lihat File</a>
    </div>

  </div>
</div>

<body>
  <div class="lg:mx-4">
    <div class="navbar bg-white flex justify-end">
      <a href="/login" class="btn btn-success">Login</a>
    </div>
    <div id="brand-wrapper" class="lg:mb-0 lg:py-2 max-w-md w-full mx-auto">
      <img src="img/logo.png" class="mx-auto" alt="logo" width="900">
    </div>
    <div id="container-content-public" class="mt-10">
      <div id="content-public">
        <div class="lg:text-2xl text-xl font-bold mb-10">Kegiatan Himpunan Mahasiswa Informatika</div>
        <div class="grid grid-cols-12 gap-1">
          <div class=" col-span-4">
            <div class="form-control">
              <label for="tahun-lpj" class="label">
                <span class="label-text label-required">Tahun Periode</span>
              </label>
              <select type="text" name="tahun-lpj" id="tahun-lpj" class="select select-bordered" style="width: 100%;">
                <option disabled selected>Pilih Tahun</option>
                <% for(let i=0; i < tahunOption.length; i++) { %>
                  <option value="<%= tahunOption[i] %>">
                    <%= tahunOption[i] %>
                  </option>
                  <% } %>
                    <option value="0">Reset</option>
              </select>
            </div>
          </div>
        </div>
        <div class="my-3 w-full">
          <div class="datatable">
            <div class="overflow-x-auto">
              <table id="table" class="table w-full" style="width: 100%;">
                <thead>
                  <tr class="text-center">
                    <th>Nomor</th>
                    <th>Nama Kegiatan</th>
                    <th>Tanggal Pelaksanaan</th>
                    <th>Detail</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <% for(let i=0; i < surat.length; i++) { %>
                    <tr>
                      <td>
                        <%= i + 1 %>
                      </td>
                      <td>
                        <%= surat[i].nama %>
                      </td>
                      <td>
                        <%= new Date(surat[i].tanggal_pelaksana).toLocaleDateString() %>
                      </td>
                      <td>
                        <label for="my-modal-3"
                          onclick="viewLpjClicked('<%= surat[i].nama %>', '<%= surat[i].penanggungjawab %>', '<%= surat[i].departemen %>', '<%= surat[i].tanggal_pelaksana %>', '<%= surat[i].deskripsi %>', '<%= surat[i].file_path %>', '<%= surat[i].url_photo %>')"
                          class="btn btn-success">Lihat</label>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer footer-center p-4 ">
        <div>
          <p>Copyright © 2023 - All right reserved by SIPEDA</p>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
  </div>
  <script>
    function viewLpjClicked(nama, penanggungjawab, departemen, tanggal_pelaksana, deskripsi, file_path, url_photo) {
        document.getElementById("nama-lpj-view").innerHTML = nama;
        document.getElementById("penanggungjawab-lpj-view").innerHTML = penanggungjawab;
        document.getElementById("departemen-lpj-view").innerHTML = departemen;
        document.getElementById("tanggal-lpj-view").innerHTML = new Date(tanggal_pelaksana).toLocaleDateString();
        document.getElementById("deskripsi-lpj-view").innerHTML = deskripsi;
        document.getElementById("url_photo-view").href = url_photo;
        document.getElementById('file-lpj-view').href = ".." + file_path.split('public')[1]
      }

      const tahun = document.getElementById('tahun-lpj');
      tahun.addEventListener('change', (e) => {
        if (e.target.value == "0") {
          window.location.href = `/`
        } else {
          window.location.href = `/?tahun=${e.target.value}`
        }
      tahun.value = e.target.value
    })
  </script>
</body>

</html>